<!DOCTYPE html>
<html ng-app="androidapp">
	<head>
	    <!-- Load boostrap to beautify app -->
	    <link rel="stylesheet" href="css/bootstrap.min.css">
	    <link rel="stylesheet" href="css/custom.css">
	    <!-- Load the javascript required for angular -->
		<script src="js/angular.min.js"></script>
		<script src="js/angular-route.min.js"></script>
		<script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
		<script src="js/math.min.js"></script>
		<script src="js/controller.js"></script>
		
	</head>
	<body class="col-sm-12 col-md-4 col-md-offset-4" ng-controller="dropDownCtrl">
		<header class="row padding-header grad">
			<div class="col-md-12">
				<div class="pull-left">
					<img src="images/android-micrometer.png" width="32" height="32">
				</div>
				<div class="dropdown pull-right">
	    			<a href class="dropdown-toggle" ng-click="sort()"><img src="images/android-overflow-icon.png" width="32" height="32"></a>
	    			<ul class="dropdown-menu col-md-2 col-md-offset-10">
	    				<li ng-repeat="item in items">
	    					<a ng-click="change(item.url)">{{item.menuItem}}</a>
	    				</li>
	    			</ul>
	    		</div>
    		</div>
		</header>
		<div ng-view>
			<!-- this is where the views will be loaded -->
		</div>
	</body>	
</html>
