<div class="form-group">
    <label for="angleOffset">Angle Offset</label>
    <input type="number" class="form-control" id="angleOffset" ng-model="angleOffset">
</div>
<div class="form-group">
    <label for="boltHoles">Number of Bolt Holes</label>
    <input type="number" class="form-control" id="boltHoles" ng-model="boltHoles">
</div>
<div class="form-group">
    <label for="diameter">Diamater of Bolt Cirle</label>
    <input type="number" class="form-control" id="diameter" ng-model="diameter">
</div>
<div class="form-group">
    <button class="btn" ng-click="calculate()">Calculate</button>
</div>
<div>
    <table class="table table-condensed">
	    <thead>
	        <tr>
	        	<th>Angle</th>
	        	<th>X-Cord.</th>
	        	<th>Y-cord.</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="result in bolts">
	            <td><div>{{result.bolt.angle}}</div></td>
	            <td><div>{{result.bolt.x}}</div></td>
	            <td><div>{{result.bolt.y}}</div></td>
	        </tr>
	    </tbody>
    </table>
</div>
